[submodule "mohccn-data"]
	path = mohccn-data
	url = git@github.com:CanDIG/mohccn-data.git
[submodule "gql-interface"]
	path = gql-interface
	url = git@github.com:CanDIG/GraphQL-interface.git
[submodule "katsu"]
	path = katsu
	url = git@github.com:CanDIG/katsu
