[submodule "services/gql-interface"]
	path = services/gql-interface
	url = git@github.com:CanDIG/GraphQL-interface.git
[submodule "services/katsu"]
	path = services/katsu
	url = git@github.com:CanDIG/katsu
